/* Variables */

:root {
  --background: #000000;
  --primary-text: #fff;
  --secondary-text: #9ca3af;
  --accent-color: #6366f1;
  --accent-hover: #818cf8;
  --divider: #1f2937;

  --font-family: "IBM Plex Mono", monospace;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 3.5rem;
  --font-size-2xl: 2rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --line-height-base: 1.5;
  --line-height-heading: 1.25;
}

/* Global */
body {
  height: 100dvh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem 1rem;
  background-color: var(--background);
  color: var(--primary-text);
  color: #c9d1d9;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background: url("/public/assets/background.jpg") no-repeat center center fixed;
  background-size: cover;
  background-color: #000; /* fallback */
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
  font-size: var(--font-size-xl);
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/* Header */
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  padding: 0.5rem 1rem;
}

/* Navbar */

nav {
  ul {
    li > a:hover {
      text-decoration: underline;
    }

    li > a:active {
      text-decoration: none;
      color: inherit;
    }
  }
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff3cd;
  color: #856404;
  text-align: center;
  padding: 10px 0;
  font-family: sans-serif;
  z-index: 1001;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fixed-top {
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  color: var(--primary-text) !important;
}
.nav-link:hover {
  color: var(--accent-hover) !important;
}
.navbar {
  background-color: var(--background) !important;
}

.nav-item {
  margin-right: 1rem;
  margin-left: 1rem;
}

/* Main */

main {
  flex: 1 0 auto;
  overflow-y: auto;
}

.profile-image {
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.tech-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
.navbar-toggler {
  margin-top: 1%;
  border: none;
  background-color: transparent;
  color: var(--primary-text);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' viewBox='0 0 50 50'%0Astyle='fill:%23FFFFFF;'%3E%3Cpath d='M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z'%3E%3C/path%3E%3C/svg%3E");
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  svg {
    width: 34px;
    height: 34px;
    transition: fill 0.3s ease;
    cursor: pointer;
  }
}

.cv-download-btn {
  background-color: var(--background);
  color: var(--primary-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* From Uiverse.io by biswacpcode */

.cv-download-btn::before {
  margin-left: auto;
}

.cv-download-btn::after,
.cv-download-btn::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.cv-download-btn:hover::after,
.cv-download-btn:hover::before {
  width: 100%;
}
.about-content {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  p {
    width: 50%;
    max-width: 600px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--secondary-text);
    font-size: var(--font-size-base);
    text-align: justify;
  }
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  div {
    flex-grow: 1;
    p {
      line-height: 1.5;
      color: var(--secondary-text);
    }
  }
}

#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 95dvh;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  div > ul {
    h5 {
      color: var(--secondary-text);
    }
    li {
      list-style: none;
      margin: 0.5rem 0;
      color: var(--secondary-text);
    }
  }
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  h5 {
    color: var(--secondary-text);
  }
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  h5 {
    color: var(--secondary-text);
  }
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

/* media queries */

@media screen and (max-width: 768px) {
  .profile-image {
    height: 150px;
    width: 150px;
  }

  .about-content {
    flex-direction: column;
    p {
      width: 100%;
      max-width: none;
    }
  }

  .projects-container {
    flex-direction: column;
    div {
      width: 100%;
    }
  }
  .navbar-toggler {
    margin-top: 6%;
    border: none;
    background-color: transparent;
    color: var(--primary-text);
  }

  #home h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .profile-image {
    height: 120px;
    width: 120px;
  }

  #home h1 {
    font-size: 1.5rem;
  }
}
