/* Variables */

:root {
  --background: #000000;
  --primary-text: #fff;
  --secondary-text: #9ca3af;
  --accent-color: #6366f1;
  --accent-hover: #818cf8;
  --divider: #1f2937;

  --font-family: "IBM Plex Mono", monospace;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 3.5rem;
  --font-size-2xl: 2rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --line-height-base: 1.5;
  --line-height-heading: 1.25;
}

/* Global */
body {
  height: 100dvh;
  margin: 0;
  padding: 1rem 1rem;
  background-color: var(--background);
  color: var(--primary-text);
  color: #c9d1d9;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0; /* Push it behind everything */
  pointer-events: auto; /* Required for particle interactivity */
}

#content {
  position: relative;
  z-index: 1;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
  font-size: var(--font-size-xl);
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/* Header */

/* Navbar */

nav {
  ul {
    li > a:hover {
      text-decoration: underline;
    }

    li > a:active {
      text-decoration: none;
      color: inherit;
    }
  }
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff3cd;
  color: #856404;
  text-align: center;
  padding: 10px 0;
  font-family: sans-serif;
  z-index: 1001;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  color: var(--primary-text) !important;
}
.nav-link:hover {
  color: var(--accent-hover) !important;
}

.navbar {
  background-color: rgba(14, 11, 11, 0.253) !important; /* transparent white */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.nav-item {
  margin-right: 1rem;
  margin-left: 1rem;
}

/* Main */

main {
  flex: 1 0 auto;
  overflow-y: auto;
}

.profile-image {
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.single-skill {
  border-radius: 0.5rem;
  border: 0.5px var(--primary-text);
  border-bottom-style: groove;
  border-top-style: groove;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
}

.single-section {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
  span {
    min-width: fit-content;
  }
}

.single-skill {
  .active {
    border: 1px groove var(--accent-color);
    background-color: var(--background) !important;
    color: var(--primary-text) !important;
  }
}

.tech-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid var(--divider);
  border-radius: 20.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
  }
}
.navbar-toggler {
  border: none;
  background-color: transparent;
  color: var(--primary-text);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' viewBox='0 0 50 50'%0Astyle='fill:%23FFFFFF;'%3E%3Cpath d='M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z'%3E%3C/path%3E%3C/svg%3E");
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  svg {
    width: 34px;
    height: 34px;
    transition: fill 0.3s ease;
    cursor: pointer;
  }
}

.card {
  background-color: transparent;
  border: 1px solid var(--divider);
  border-radius: 0.5rem;
  padding: 1rem;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  svg {
    width: 040px;
    height: 040px;
    fill: var(--primary-text);
    transition: fill 0.3s ease;
    cursor: pointer;
  }
}

.card-body {
  display: flex;
  flex-direction: column;

  a {
    margin-top: auto;
  }
}
.card-body p {
  display: flex;
  align-items: end;
  flex-grow: 1;
}

.card-title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--primary-text);
}
.card-text {
  font-size: var(--font-size-base);
  color: var(--secondary-text);
  margin-top: 0.5rem;
  line-height: var(--line-height-base);
}

.cv-download-btn {
  background-color: var(--background);
  color: var(--primary-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* From Uiverse.io by biswacpcode */

.cv-download-btn::before {
  margin-left: auto;
}

.cv-download-btn::after,
.cv-download-btn::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.cv-download-btn:hover::after,
.cv-download-btn:hover::before {
  width: 100%;
}
.about-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 2rem;
  p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--secondary-text);
    font-size: var(--font-size-base);
    text-align: justify;
  }
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  div {
    align-self: stretch;
    flex-grow: 1;
    p {
      line-height: 1.5;
      color: var(--secondary-text);
    }
  }
}

#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 95dvh;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  div > ul {
    h5 {
      color: var(--secondary-text);
    }
    li {
      list-style: none;
      margin: 0.5rem 0;
      color: var(--secondary-text);
    }
  }
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  h5 {
    color: var(--secondary-text);
  }
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  h5 {
    color: var(--secondary-text);
  }
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  /* Styles for small devices like larger phones and small tablets */

  .navbar {
    border-radius: 20px;
  }

  .card-body p {
    display: flex;
    align-items: center;
  }

  .projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    .card {
      flex: 0 1 calc(50% - 2rem);
    }
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  /* Styles for tablets and small desktops */
  .about-content {
    flex-direction: row;
    gap: 4rem;
  }
  .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    .card {
      flex: 0 1 calc(50% - 2rem);
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  /* Styles for desktops and larger screens */

  .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    .card {
      flex: 0 1 calc(25% - 2rem);
    }
  }
}

.form-container {
  /* width: 400px; */
  background: linear-gradient(var(--background), var(--background)) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: var(--primary-text);
  font-weight: 600;
  width: 40%;
  background: var(--background);
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  border-color: #fff;
}
