/* Variables */

:root {
  --background: #000000;
  --primary-text: #fff;
  --secondary-text: #9ca3af;
  --accent-color: #6366f1;
  --accent-hover: #818cf8;
  --divider: #1f2937;
}

/* Global */
body {
  height: 100dvh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem 1rem;
  background-color: var(--background);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  color: #c9d1d9;
}

/* Header */
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  padding: 0.5rem 1rem;
}

/* Navbar */

nav {
  ul {
    li > a:hover {
      text-decoration: underline;
    }

    li > a:active {
      text-decoration: none;
      color: inherit;
    }
  }
}

.nav-link {
  color: var(--primary-text) !important;
}
.nav-link:hover {
  color: var(--accent-hover) !important;
}
.navbar {
  background-color: var(--background) !important;
}
.navbar-brand {
  color: var(--primary-text) !important;
  font-size: 1.5rem;
}

/* Main */
main {
  flex: 1 0 auto;
  overflow-y: auto;
}

.profile-image {
  align-items: center;
  height: 200px;
}

.cv-download-btn {
  background-color: var(--accent-color);
  color: var(--primary-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cv-download-btn:hover {
  background-color: var(--accent-hover);
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  p {
    width: 50%;
    max-width: 600px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--secondary-text);
  }
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  div {
    flex-grow: 1;
    p {
      line-height: 1.5;
      color: var(--secondary-text);
    }
  }
}

#home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 80dvh;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
}
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  div > ul {
    h5 {
      color: var(--secondary-text);
    }
    li {
      list-style: none;
      margin: 0.5rem 0;
      color: var(--secondary-text);
    }
  }
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  h5 {
    color: var(--secondary-text);
  }
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}
